      <!-- FOOTER -->
   <footer class="row">
    <div class="large-12 columns">
      <hr>
      <div class="row">
        <div class="large-6 columns">
          <p> Themed by <a href="https://pixelswap.fr/" target="_blank">Corentin Mors</a> &copy; Bolt CMS </p>
        </div>
      </div>
    </div>
  </footer>

      <!-- End Footer -->


  <script src="{{ asset('js/vendor/jquery.js', 'theme') }}"></script>
  <script src="{{ asset('js/foundation.min.js', 'theme') }}"></script>
  <script>
    $(document).foundation();
  </script>

</body>
</html>
